/* Index Page ____________________________________________________________________________________*/ 

/* Background col */
body {
  background-color: #B6B7BB;
  height: 100%;
  margin: 0;
}

/* Header (scroll) */
.header {
  padding: 5px 7px;
  background: white;
  color: black;

  opacity: 0.7;
}

.imgHeader {
  opacity: 1;
  float: left;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .imgBg {
  padding-top: 300px;
}

/* Background Image */
.imgBg {

  background-position:center;
  background-repeat: no-repeat;

  margin-top: 1cm;
  margin-left: 1cm;
  margin-right: 1cm;
  height:1080px;
  width: 1920;;

  opacity: 0.6;

  }

h1 {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  opacity: 1;
  text-shadow: 1px 1px 2px white;

  font-size: 50px;
  color: black;
  }

h3 {
    text-align: right;
    opacity: 1;
    font: bold;
    word-spacing: 15px;
    font-size: 15px;
    color: black;
    }

/* Words in Image Background */
.heading{
  word-spacing: 10px;
  font-size: 20px;
  color: white;

/* Buttons */
}
.btn1{
  background-color: none;
  color: black;
  padding: 15px 25px;
  text-decoration: none;
  transition-duration: 0.4s;
  border-radius: 36px;
  }
  .btn1:hover {
  background-color: #e7e7e7;;
  color: black;
  opacity: 0.2;
  
  }



  .btn2{
  background-color: none;
  color: black;
  padding: 15px 25px;
  text-decoration: none;
  transition-duration: 0.4s;
  border-radius: 36px;
  }
  .btn2:hover {
  background-color: #e7e7e7;;
  color: black;
  opacity: 0.2;
  
  }


  .btn3{
  background-color: none;
  color: black;
  padding: 15px 25px;
  text-decoration: none;
  transition-duration: 0.4s;
  border-radius: 36px;
  }
  .btn3:hover {
  background-color: #e7e7e7;;
  color: black;
  opacity: 0.2;
  
  }

  .btn4{
  background-color: none;
  color: black;
  padding: 15px 25px;
  text-decoration: none;
  transition-duration: 0.4s;
  border-radius: 36px;
  }
  .btn4:hover {
  background-color: #e7e7e7;;
  color: black;
  opacity: 0.2;
  
  }

  .btn5{
  background-color: none;
  color: black;
  padding: 15px 25px;
  text-decoration: none;
  transition-duration: 0.4s;
  border-radius: 36px;
  }
  .btn5:hover {
  background-color: #e7e7e7;;
  color: black;
  opacity: 0.2;
  
  }

/* About Page _________________________________________________________________________________________*/

.about{
  font-size: 50px;
  color: white;
}

p {
  margin-top: 0.1cm;
  font-size: 20px;
  color: white;
}

/* Album Page _________________________________________________________________________________________*/
.albums{
  font-size: 50px;
  color: White;
}

