body{
    font-family:'Nanum Myeongjo', serif;
    min-height: 200vh;
  
  }
/* HEADER 2 ___________________________________ */
    .indexheader{
        position: fixed;
        top: 0;
        left: 0;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        padding: 30px 100px;
        z-index: 100000;
  }
  
  .indexheader.sticky{
    padding: 5px 100px; 
    background: white;
  }
  
  .indexheader .indexlogo{
    position: relative;
    font-weight: 900;
    color: black;
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6;
  
  }
  
  
  .indexheader ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .indexheader ul li{
    position: relative;
    list-style: none;
  
  }
  
  .indexheader ul li a{
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    color:black
  }

  .indexheader ul li a:hover{
    opacity: 0.7;
  }


/* HEADER SCROLL ______________________________ */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 30px 100px;
    z-index: 100000;
  }
  
  header.sticky{
    padding: 5px 100px; 
    background: white;
  }
  
  header .logo{
    position: relative;
    font-weight: 900;
    color: white;
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6;
  
  }
  
  
  header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header ul li{
    position: relative;
    list-style: none;
  
  }
  
  header ul li a{
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    color:white
  }

  header.sticky .logo,
  header.sticky ul li a
  {
    color:black;
  }

  header ul li a:hover{
    opacity: 0.7;
  }

  /* EVENTS _________________________________________________________________________________________*/
/* bg */
.banner3{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(images/event_cover);
    background-size: cover;
  }

span{

    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:120px;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:olivedrab;
    text-shadow: 
                          8px 8px white,
                          20px 20px darkslategray;
}

.book{
    position:absolute;
    top: 155%;
    left:13%;
    color:white;
    font-family:'Nanum Myeongjo', sans-serif;
    font-size: 30px;
}



.bookbtn{
    position:absolute;
    top: 170%;
    left:24%;

    background-color: black; 
    color: white; 
    border: 2px solid white;

    text-align: center;
    text-decoration: none;
    padding: 20px;

}

.bookbtn:hover {
    background-color: white;
    color:black;
}
  
.poster{
    position:absolute;
    top: 150%;
    left: 60%;
}

.countdown{
    position: absolute;
    top:235%;
    left:42%;
    color:white;
    text-align: center;
    font-size:60px;
    letter-spacing: 2px;
    font-family:'Nanum Myeongjo', sans-serif;
}
  
p {
    font-size: 60px;
    color:white;
  }

.timer
{
    position: relative;
    text-align: center;
    top: 45%;

}


/* CONTACTUS _________________________________________________________________________________________*/


  /* word */
.contact{
    position: relative;
    top:200px;
    font-size: 30px;
    text-align: center;
    color: #647a85;
  }
  
  
/* icons */


.twitter {

    position: relative;
    top:234px;
    left: 375px;

} 

.youtube {

    position: absolute;
    top:49%;
    left: 42%;
  }
  
.instagram {

    position: absolute;
    top:47%;
    left: 52%;
}

.tiktok {

    position: absolute;
    top:49%;
    left: 63%;
}
  
  /* COMMENT BOX __________________________*/

  .contactus{
    position: relative;
    top: 350px;
    text-align: center;
    color: #647a85;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #d6d7cf;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  button {
    background-color:white ;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #647a85;
  }
  
  .container {
    border-radius: 5px;
    background-color:#a2b3ba;
    padding: 30px;
    margin-top: 370px;
  }
  


/* FOOTER __________________*/
#footer {
    position:relative;
    text-align: center;
    padding: 20px 100px;
    font-size: 10px;
    bottom:0;
    background-color:dimgray;
    color: white;
  }